<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myimagetextclient">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.MyApp">
        <!-- 注册TopicActivity（话题页） -->
        <activity android:name="com.example.myimagetextclient.TopicActivity" />
        <!-- 注册DetailActivity（详情页） -->
        <activity android:name="com.example.myimagetextclient.DetailActivity" />
        <!-- 主Activity，含底部导航栏 -->
        <activity android:name="com.example.myimagetextclient.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>




    <!--    <?xml version="1.0" encoding="utf-8"?>-->
    <!--<manifest xmlns:android="http://schemas.android.com/apk/res/android"-->
    <!--    xmlns:tools="http://schemas.android.com/tools">-->

    <!--    <application-->
    <!--        android:allowBackup="true"-->
    <!--        android:dataExtractionRules="@xml/data_extraction_rules"-->
    <!--        android:fullBackupContent="@xml/backup_rules"-->
    <!--        android:icon="@mipmap/ic_launcher"-->
    <!--        android:label="@string/app_name"-->
    <!--        android:roundIcon="@mipmap/ic_launcher_round"-->
    <!--        android:supportsRtl="true"-->
    <!--        android:theme="@style/Theme.MyImageTextClient">-->
    <!--        <activity-->
    <!--            android:name=".MainActivity"-->
    <!--            android:exported="true">-->
    <!--            <intent-filter>-->
    <!--                <action android:name="android.intent.action.MAIN" />-->

    <!--                <category android:name="android.intent.category.LAUNCHER" />-->
    <!--            </intent-filter>-->
    <!--        </activity>-->
    <!--    </application>-->

    <!--</manifest>-->